<!doctype html>
<html>

<head>
<title> Lucie's Cats </title>
<meta charset="utf-8">
</head>

<body>

<h1> <a href="1.index">Cats with Lucie </a> </h1>

<ol> 		
	<li> <a href="1.latte"> Latte</a> </li>
	<li> <a href="2.moca"> Moca </a> </li>
	<li> <a href="3.blackie"> Blackie </a> </li>
</ol>


<h2> Latte </h2>

<img src="latte" width="80%">
<p><strong>Latte, is the <u>first</u> cat</strong> that Lucie had adopted when she came to Vietname. Latte has white hair and yellow eyes.. blah blah</p>
<p style="margin-top: 45px;">When Latte had adopted very first he was 3months old, just born and never lived apart from his parents, which he hided under the bed for a day from strange lady.</p>


</body>